//- ------------------------------------
//- include local variables
//-
block variables

//- ------------------------------------
//- HTML CONTENTS
//-
doctype html
html(lang="ja")

  //- ------------------------------------
  //- include head element
  //-
  include /partials/head

  //- ------------------------------------
  //- begin body
  //-
  body
    #app.container-fluid
      block content

    //-================ SCRIPT ================-//
    block scripts
